@use 'modules/app.module';

.cross-padding--pc {
  padding-top: 80px;
  padding-bottom: 80px;
}

.cross-padding--sm {
  padding-top: 50px;
  padding-bottom: 50px;
}

footer {
  background-color: #212121;

  h2 {
    color: #ffc107;
    margin: 0px;
  }

  p {
    color: white !important;
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }

  .divider {
    border-top-color: rgb(76, 68, 68) !important;
  }
}
