@use 'modules/app.module';

.cross-padding {
  &--pc {
    padding-top: 80px;
    padding-bottom: 80px;  
  }
  &--sm {
    padding-top: 50px;
    padding-bottom: 50px;  
  }
}

footer {
  background-color: hsl(0, 0%, 13%);

  h2 {
    color: hsl(45, 100%, 51%);
    margin: 0px;
  }

  p {
    color: hsl(0, 0%, 100%);
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }

  .divider {
    border-top-color: hsl(0, 6%, 28%);
  }
}
