@import '~@angular/material/theming';

@mixin app-footer-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $success: map-get($theme, success);

  a {
    color: mat-color($accent)
  }
}
