.footer {
  background-color: #212121;

  p {
    color: white;
    margin: 0;
    > b {
      color: #ffc107;
    }
  }
  
  a {
    text-decoration: none;
  }

  .divider {
    border-top-color: rgb(76, 68, 68) !important;
  }
}
