<div
  fxLayout="row wrap"
  fxLayout.lt-md="column wrap"
  fxLayoutGap="3%"
  class="footer"
  ngClass.gt-lg="lg-main-padding">

  <div fxFlex.gt-lg="1 1 31%">
    <div gdAreas="title | content" gdRows="auto auto" class="info-box">
      <p gdArea="title" class="mat-title">
        <b>About Us</b>
      </p>
      <p gdArea="content" class="mat-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Officiis perferendis rem, aut aliquam neque nam? dolor sit amet.
        adipisicing elit consectetur adipisicing elit.
        Officiis perferendis rem, aut aliquam.
      </p>
    </div>
  </div>
  <mat-divider fxShow="false" fxShow.lt-lg="true" class="divider"></mat-divider>
  <div fxFlex.gt-lg="1 1 32%">
    <div gdAreas="title | content" gdRows="auto auto" class="info-box">
      <p gdArea="title" class="mat-title">
        <b>Contact</b>
      </p>
      <p gdArea="content" class="mat-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Officiis perferendis rem, aut aliquam neque nam? dolor sit amet, consectetur adipisicing elit consectetur adipisicing elit.
        Officiis perferendis rem, aut aliquam.
      </p>
    </div>
  </div>
  <mat-divider fxShow="false" fxShow.lt-lg="true" class="divider"></mat-divider>
  <div fxFlex.gt-lg="1 1 31%">
    <div gdAreas="title | content" gdRows="auto auto" class="info-box">
      <p gdArea="title" class="mat-title">
        <b>Quick Links</b>
      </p>
      <p gdArea="content" class="mat-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Officiis perferendis rem, aut aliquam neque nam? dolor sit amet, consectetur adipisicing elit consectetur adipisicing elit.
        Officiis perferendis rem, aut aliquam.
      </p>
    </div>
  </div>
</div>
