@import '~@angular/material/theming';

@mixin app-home-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $success: map-get($theme, success);

  .section {
    background-color: mat-color($primary);
  }
}
