.section {
  margin-top: 60px;
  width: auto;
  height: auto;
  background: url('/assets/images/intro-bg.jpg') no-repeat center center;
  background-size: cover;
  color:white;

  p {
    margin: 0;
  }

  .lg-button {
    width: 150px !important;
    height: 50px !important;
    min-height: unset !important;
    min-width: unset !important;
    margin-top: 20px;
  }
}
