<section
  gdAreas.lt-md="intro | image"
  gdRows.lt-md="auto auto"
  gdGap.lt-md="30px"
  ngClass.lt-md="section--sm"
  gdAreas.gt-sm="intro image"
  gdColumns.gt-sm="1fr 1fr"
  gdGap.gt-sm="60px"
  ngClass.gt-sm="section--pc"
>
  <div
    gdArea="intro" 
    gdAreas="title | desc | features | action"
    gdRows="auto auto auto auto"
    gdGap="30px"
    gdGap.gt-sm="50px">

    <p gdArea="title" ngClass.lt-md="mat-display-1" ngClass.gt-sm="mat-display-2">
      Your complete Angular App Development kit
    </p>

    <p gdArea="desc" ngClass.lt-md="mat-h3" ngClass.gt-sm="mat-h1">
      Egret implements the official Angular Material Design components and built with Angular CLI.No Bootstrap!No jQuery! and Only TypeScript!
    </p>

    <div
      gdArea="features"
      gdAreas="check-icon1 text1 | check-icon2 text2 | check-icon3 text3"
      gdRows="auto auto auto"
      gdColumns="1fr 8fr"
      gdGap="7px"
      gdGap.gt-sm="10px"
    >
      <mat-icon gdArea="check-icon1" color="accent">check</mat-icon>
      <p gdArea="text1" ngClass.lt-md="mat-h4" ngClass.gt-sm="mat-h3">100+ Custom Pipes, Directives And Components</p>
      <mat-icon gdArea="check-icon2" color="accent">check</mat-icon>
      <p gdArea="text2" ngClass.lt-md="mat-h4" ngClass.gt-sm="mat-h3">4 color Themes and multi language support</p>
      <mat-icon gdArea="check-icon3" color="accent">check</mat-icon>
      <p gdArea="text3" ngClass.lt-md="mat-h4" ngClass.gt-sm="mat-h3">Super Flexible And Customizable</p>
    </div>

    <div gdArea="action" gdGridAlign="start end">
      <button mat-raised-button class="lg-button">
        MORE INFO
      </button>  
    </div>    
  </div>

  <div gdArea="image">
    <!-- <img mat-card-image src="assets/images/egret-screen.png"> -->
  </div>
</section>