@use 'modules/home.module';

section {
  margin-top: 60px;
  background-image: url('/assets/images/intro-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;

  color:hsl(0, 0%, 100%);

  p {
    margin: 0;
  }

  .lg-button {
    width: 150px;
    height: 50px;
    min-height: unset;
    min-width: unset;
    margin-top: 10px;
  }
}
