.section {
  background: url('/assets/images/intro-bg.jpg') no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding: 180px 0;
  color: #ffffff;
  overflow: hidden;

  .container {
    margin: 35px 0;
  }
}
p {
  margin: 0;
}

.lg-button {
  width: 150px !important;
  height: 50px !important;
  min-height: unset !important;
  min-width: unset !important;
}
// .title {
//   margin: 0 0 24px;
//   font-size: 48px;
//   font-weight: 900;
//   line-height: 52px;
//   text-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);
// }
// .desc {
//   margin: 0 0 40px;
//   font-size: 22px;
//   font-weight: 400;
//   line-height: 32px;
// }
.intro-product {
  position: relative;
  top: 100px;
  left: 60px;
}
