@use 'modules/home.module';

section {
  background-color: hsl(0, 0%, 100%);

  p {
    margin: 0px;
  }

  .header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .carousel {
    &--pc {
      max-width: calc(100vw - var(--pc-main-padding)*2 - 20px); // subtract 20px of scroll width
    }
    &--sm {
      max-width: calc(100vw - var(--sm-main-padding)*2);
    }
  }
  
  .card {
    &--pc {
      margin: 15px !important;
    }
    &--sm {
      margin: 10px !important;
    }
  }
}