<section
  gdAreas="header | content"
  gdRows="auto auto"
  gdGap="30px"
  gdGap.gt-sm="40px"
  ngClass.lt-md="section--sm"
  ngClass.gt-sm="section--pc"
>
  <header gdArea="header" gdAreas="title | description" gdGap="10px" gdGap.gt-sm="25px">
    <p gdArea="title" ngClass.lt-md="mat-display-1" ngClass.gt-sm="mat-display-2">
      What our customers says
    </p>
    <p gdArea="description" class="mat-body">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molesadipisci placeatat.
    </p>
  </header>

  <owl-carousel-o 
    gdArea="content"
    gdGridAlign="center center"
    [options]="customOptions"
    ngClass.lt-md="carousel--sm"
    ngClass.gt-sm="carousel--pc"
  >
    <ng-template *ngFor="let slide of disciples"carouselSlide [id]="slide.id">
      <mat-card
        appCustomElevation 
        [defaultElevation]="4"
        raisedElevation="8"
        ngClass.lt-md="card--sm"
        ngClass.gt-sm="card--pc"
      >

        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>{{slide.id}}</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
          <p class="mat-body">
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </ng-template>
  </owl-carousel-o>
</section>
