.section {
  background-color: white;
}

.section .header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.section .pc-content {
  max-width: calc(100vw - var(--pc-main-padding)*2 - 20px);
}

.section .sm-content {
  max-width: calc(100vw - var(--sm-main-padding)*2);
}

.section .pc-card {
  margin: 15px !important;
}

.section .sm-card {
  margin: 10px !important;
}
