.main {
  width: var(--width);
  margin: 0px 50px 40px 0;
  -webkit-perspective: 1800px;
  perspective: 1800px;
}

.bk-book {
  position: absolute;
  width: 100%;
  height: var(--height);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .5s;
  transition: transform .5s;
}

.bk-book div {
  display: block;
  position: absolute;
}

.bk-book.view-default {
  -webkit-transform: rotate3d(0, 1, 0, var(--defaultDeg));
  transform: rotate3d(0, 1, 0, var(--defaultDeg));
}

.bk-book.view-default:hover {
  -webkit-transform: rotate3d(0, 1, 0, var(--hoverDeg));
  transform: rotate3d(0, 1, 0, var(--hoverDeg));
}

.bk-front {
  width: var(--width);
  height: var(--height);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform .5s;
  transition: transform .5s;
  -webkit-transform: translate3d(0, 0, 20px);
  transform: translate3d(0, 0, 20px);
  z-index: 10;
}

.bk-front:after {
  content: '';
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: -1px;
  width: 1px;
  background-color: var(--bookColor);
}

.bk-front > div {
  width: var(--width);
  height: var(--height);
  display: block;
  position: absolute;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  border-radius: 0 3px 3px 0;
  box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--bookColor);
}

.bk-page {
  -webkit-transform: translate3d(0, 0, 19px);
  transform: translate3d(0, 0, 19px);
  display: none;
  width: calc(var(--width) - var(--innerWidthSubtraction));
  height: calc(var(--height) - var(--innerHeightSubtraction));
  top: 5px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 9;
  background-color: #fff;
}

.bk-page nav {
  display: block;
  text-align: center;
  margin-top: 20px;
  position: relative;
  z-index: 100;
  cursor: pointer;
}

.bk-page nav span {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #aaa;
  background: #f0f0f0;
  border-radius: 50%;
}

.bk-back {
  width: var(--width);
  height: var(--height);
  -webkit-transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, 20px);
  transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, 20px);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
  border-radius: 3px 0 0 3px;
  background-color: var(--bookColor);
}

.bk-back:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 3px;
  background: rgba(0, 0, 0, 0.06);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
  left: auto;
  right: 10px;
}

.bk-back p {
  color: #fff;
  font-size: 13px;
  padding: 40px;
  text-align: center;
  font-weight: 700;
}

.bk-right {
  width: 40px;
  height: calc(var(--height) - var(--innerHeightSubtraction));
  left: -20px;
  top: 5px;
  -webkit-transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, calc(var(--width) - 10px));
  -moz-transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, calc(var(--width) - 10px));
  transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, calc(var(--width) - 10px));
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
}

.bk-left {
  width: 40px;
  height: var(--height);
  left: -20px;
  -webkit-transform: rotate3d(0, 1, 0, -90deg);
  transform: rotate3d(0, 1, 0, -90deg);
  background-color: var(--bookColor);
}

.bk-left h2 {
  width: var(--height);
  height: 40px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(90deg) translateY(-40px);
  transform: rotate(90deg) translateY(-40px);
  color: #fff;
  font-size: 15px;
  line-height: 40px;
  padding-right: 10px;
  text-align: right;
}

.bk-left h2 span:first-child {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  padding-right: 20px;
}

.bk-top {
  width: calc(var(--width) - var(--innerWidthSubtraction));
  height: 40px;
  top: -15px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate3d(1, 0, 0, 90deg);
  transform: rotate3d(1, 0, 0, 90deg);
  background-color: #fff;
}

.bk-cover {
  background: var(--bookImage) no-repeat center center;
  background-size: 100% 100%;
}

.bk-cover:after {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 3px;
  background: rgba(0, 0, 0, 0.06);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.bk-cover h2 {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 30px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.bk-cover h2 span:first-child {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  padding-right: 20px;
  display: block;
}

.bk-cover-back {
  -webkit-transform: rotate3d(0, 1, 0, -179deg);
  transform: rotate3d(0, 1, 0, -179deg);
  background-color: var(--bookColor);
}

.bk-content {
  position: absolute;
  top: 30px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  padding: 30px;
  overflow: hidden;
  background: #fff;
  opacity: 0;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  cursor: default;
}

.bk-content p {
  padding: 0 0 10px;
  -webkit-font-smoothing: antialiased;
  color: #000;
  font-size: 13px;
  line-height: 20px;
  text-align: justify;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bk-content-current {
  opacity: 1;
  pointer-events: auto;
}

.view-inside .bk-front {
  -webkit-transform: translate3d(0, 0, 20px) rotate3d(0, 1, 0, -160deg);
  transform: translate3d(0, 0, 20px) rotate3d(0, 1, 0, -160deg);
}

.bk-book.view-inside {
  -webkit-transform: translate3d(0, 0, 150px) rotate3d(0, 1, 0, 0deg);
  transform: translate3d(0, 0, 150px) rotate3d(0, 1, 0, 0deg);
}

.bk-book.view-back {
  -webkit-transform: translate3d(0, 0, 0px) rotate3d(0, 1, 0, 180deg);
  transform: translate3d(0, 0, 0px) rotate3d(0, 1, 0, 180deg);
}
