<section
  gdAreas="header | content"
  gdRows="auto auto"
  gdGap="40px"
  gdGap.lt-md="20px"
  class="section"
  ngClass.gt-sm="section-pc-padding"
  ngClass.lt-md="section-sm-padding">

  <div gdArea="header">
    <p class="mat-headline">
      <b>met consectetur adipisicing</b>
    </p>
    <p class="mat-body">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molesadipisci placeatat.
    </p>
  </div>
  <div gdArea="content">
    <mat-tab-group gdArea="content" mat-align-tabs="center" animationDuration="1000ms">
      <mat-tab label="First">
        <div
          gdAreas="description book"
          gdColumns="2fr 1fr"
          gdAreas.lt-md="book | description"
          gdRows.lt-md="auto auto"
          gdGap="40px"
          gdGap.lt-md="20px"
        >
          <div gdArea="book" gdGridAlign="end center" class="book">
            <book-exhibition [configure]="bookConfigure"></book-exhibition>
          </div>
          <div gdArea="description">

          </div>
        </div>
      </mat-tab>
      <mat-tab label="Second">
        <div
          gdAreas="description book"
          gdColumns="2fr 1fr"
          gdAreas.lt-md="book | description"
          gdRows.lt-md="auto auto"
          gdGap="40px"
          gdGap.lt-md="20px"
        >
          <div gdArea="book" gdGridAlign="end center" class="book">
            <book-exhibition [configure]="bookConfigure"></book-exhibition>
          </div>
          <div gdArea="description">

          </div>
        </div>
      </mat-tab>
      <mat-tab label="Third">
        <div
          gdAreas="description book"
          gdColumns="2fr 1fr"
          gdAreas.lt-md="book | description"
          gdRows.lt-md="auto auto"
          gdGap="40px"
          gdGap.lt-md="20px"
        >
          <div gdArea="book" gdGridAlign="end center" class="book">
            <book-exhibition [configure]="bookConfigure"></book-exhibition>
          </div>
          <div gdArea="description">

          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    <!-- <mat-icon svgIcon="open-book" color="primary"></mat-icon> -->
  </div>
</section>
