$light-primary: mat-palette($mat-grey, 200, 500, 300);
$light-accent: mat-palette($mat-brown, 200);
$light-warn: mat-palette($mat-deep-orange, 200);
$light-success: mat-palette($mat-green);


@function my-light-theme($primary, $accent, $success, $warn: mat-palette($mat-red)) {
  @return map-merge(mat-light-theme($primary, $accent, $warn), (success: $success));
}

$light-theme: mat-light-theme($light-primary, $light-accent,$light-success, $light-warn);
