<header [@scrollDownUp]="scrollState">
  <mat-toolbar 
    gdColumns="auto 1fr auto"
    ngClass.gt-sm="section--pc"
    [class.mat-elevation-z4]="true"
    color="primary"
  >
    <h1 class="mat-headline">
      SmartToilets
    </h1>
    <span></span>
    <button fxShow.gt-sm="false" mat-icon-button (click)="toggleSlideMenu()"> 
      <mat-icon>menu</mat-icon>
    </button>
    <nav fxShow="false" fxShow.gt-sm="true">
      <button mat-button>
        About
      </button>
      <button mat-button>
        Services
      </button>
      <button mat-button>
        Works
      </button>
      <button mat-button>
        Devices
      </button>
      <button mat-button>
        Contact
      </button>
    </nav>
  </mat-toolbar>

  <nav
    [@toggleMenu]="menuState"
    gdAuto="row"
    fxShow.gt-sm="false"
    class="sm-menu"
  >
    <button mat-button color="primary">
      About
    </button>
    <button mat-button color="primary">
      Services
    </button>
    <button mat-button color="primary">
      Works
    </button>
    <button mat-button color="primary">
      Devices
    </button>
    <button mat-button color="primary">
      Contact
    </button>
  </nav>
</header>