@use 'modules/app.module';

header {
  position: fixed;
  width: 100%;
  z-index: 100;

  .sm-menu {
    width: 100%;
    background-color: hsl(0, 0%, 94%);
    overflow: hidden;
    padding: 10px 0px;
    button {
      padding: 5px 0px;
    }
  }
}
