:root {
  --pc-main-padding: 300px;
  --sm-main-padding: 30px;
  --height: 400px;
  --width: 300px;
  --innerWidthSubtraction: 7px;
  --innerHeightSubtraction: 13px;
  --bookColor: #832E09;
  --bookImage: url("/assets/images/test.png");
  --hoverDeg: -50deg;
  --defaultDeg: 35deg;
}
