/* self host material design icon, https://github.com/jossef/material-design-icons-iconfont */
$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';
@import '~material-design-icons-iconfont/src/material-design-icons';

/* self host material fonts */
@import 'assets/fonts/fonts';

/* */
@import 'styles-variables';


/* themes */
@import '~@angular/material/theming';

@include mat-core();

@import './themes/default-theme';
@import './themes/dark-theme';

@import './app/app/footer/footer.theme';
@import './app/features/home/home/home.theme';

@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';


@mixin custom-components-theme($theme) {
  @include app-footer-theme($theme);
  @include app-home-theme($theme);
}

.default-theme {
  @include angular-material-theme($default-theme);
  @include custom-components-theme($default-theme);
}
.dark-theme {
  @include angular-material-theme($dark-theme);
  @include custom-components-theme($dark-theme);
}

.header-pc-padding {
  padding: 30px var(--pc-main-padding) !important;
}

.footer-pc-padding {
  padding: 80px var(--pc-main-padding) !important;
}
.footer-sm-padding {
  padding: 60px var(--sm-main-padding) !important;
}

.section-pc-padding {
  padding: 90px var(--pc-main-padding) !important;
}
.section-sm-padding {
  padding: 60px var(--sm-main-padding) !important;
}
